<section class="block container block-domain">
  <header class="block__header">
    <h2>Starting at $9 per Month</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci,
      explicabo.
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter domain name here" />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use></svg
      >Search
    </button>
  </div>
  <ul class="list block-domain__prices">
    <span class="badge badge--secondary">
      <li class="domain-list__item">.com $9</li>
    </span>
    <li class="domain-list__item">.sg $10</li>
    <li class="domain-list__item">.space $11</li>
    <li class="domain-list__item">.info $14</li>
    <li class="domain-list__item">.net $10</li>
    <li class="domain-list__item">.xyz $10</li>
  </ul>
</section>
